<label>
  <p>Wyslij SMS o tresci
    <strong class="green-text">MSMS.SHPORTFEL</strong> pod numer
    <strong class="green-text"><label id="number">91400</label> </strong>
  </p>
  <p>
    Koszt SMS to: 17.22 zł

  </p>
  <p>
    Twoje konto zostanie <strong class="green-text"><label id="addmoney-info">Odbanowane!</label></strong>
  </p>
</label>
<form method="post">
  <input type="hidden" name="unban" value=""/>
  <div class="pt-1">
    <input class="form-control-sm" name="ubcode" placeholder="Kod sms" type="text"/>
  </div>
  <div class="pt-3">
    <input class="form-control-sm" name="ubnickname" placeholder="NickName" type="text"/>
  </div>
  <br/>
  <div class="buttonshopbuy">
    <button class="btn btn-md btn-green" type="" name="ubszukaj"><i> Odbanuj</i></button>
  </div>
</form>
