{% extends 'layout2.html' %}s
{% load widget_tweaks %}
{% block content %}
  {% include 'ImgText.html' %}
  <div class="container">
    {% if messages %}
      {% for message in messages %}
        <div {% if message.tags %}{% if message.tags == "error" %}class="alert alert-danger text-center"
             {% else %}class="alert alert-{{ message.tags }} text-center"{% endif %}{% endif %} role="alert">
          <h4 class="alert-heading">{% if message.tags == "success" %}Dziękujemy!{% else %}
            Przepraszamy!{% endif %}</h4>
          <p class="text-border">{{ message | safe }}</p>
        </div>
      {% endfor %}
    {% endif %}
     <div class=" d-flex justify-content-center">
      <div class="my-auto text-center">
        <h1 class="green-text">ZMIANA HASŁA </h1>
    <form method="post" class="py-3">
      <div class="alert alert-info py-2">
          <span id="emailHelp" class="form-text text-justify">{{ form.new_password1.help_text|safe }}</span>
      </div>

      {% csrf_token %}
      <div class="form-group">
        {% render_field form.old_password class="form-control" placeholder="Stare hasło" %}
        <small class="text-danger">{{ form.old_password.errors }}</small>
      </div>
      <div class="form-group">
        {% render_field form.new_password1 class="form-control" placeholder="Nowe hasło"%}
        <small class="text-danger">{{ form.new_password1.errors }}</small>
      </div>

      <div class="form-group">
        {% render_field form.new_password2 class="form-control" placeholder="Powtórz nowe hasło"%}
        <small class="text-danger">{{ form.new_password2.errors }}</small>
      </div>
      <button type="submit" class="btn btn-green">Save changes</button>
    </form>
  </div>
     </div>
  </div>
{% endblock %}