{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Panel gracza | Skyhorizon.pl</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


</head>
<body>
<div class="main">


  <div class="container">
    <h2 class="text-center py-3" style="color: #C2CAD0;">Panel Gracza</h2>
    <center>
      <div class="middle">

        <div id="login">

          <form action=" " method="post">
            {% csrf_token %}
            {% if form.errors %}
              <p class="text-danger text-center">
                Twoja nazwa użytkownika i hasło się nie zgadzają,<br>
                Proszę spróbuj ponownie.
              </p>
            {% endif %}
            <fieldset class="clearfix">

              <p><span
                    class="fa fa-user"></span> {% render_field form.username id="username" type="text" placeholder="Nazwa użytkownika" attr="value":required attr="value":autofocus %}
              </p>
              <!-- JS because of IE support; better: placeholder="Username" -->
              <p><span
                    class="fa fa-lock"></span> {% render_field form.password id="password" type="password" placeholder="hasło" attr="value":required %}
              </p>
              <!-- JS because of IE support; better: placeholder="Password" -->

              <div>
                <span style="width:50%; display: inline-block;"><input type="submit" value="Sign In"></span>
              </div>

            </fieldset>
            <div class="clearfix"></div>
          </form>

          <div class="clearfix"></div>

        </div> <!-- end login -->
        <div class="logo">
          <a href="{% url 'horizon:home' %}"> <img class="img-fluid" src="/media/skyhorizon/skyhorizon.png"></a>

          <div class="clearfix"></div>
        </div>

      </div>
    </center>
  </div>

</div>
</body>
</html>