<!-- Modal -->


<div class="modal fade bg-modal" id="FaqModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">

  <div class="modal-dialog " role="document">

    <div class="bg-modal-dialog">
      <div class="bg-modal-header text-center">
        <h5 class="modal-title" id="exampleModalLongTitle">Frequently Asked Questions</h5>
      </div>
      <div class="modal-body text-center">
        <div class="answer mt-4">
          <h5>1. Co zrobic, gdy nie otrzymałem zakupionego przedmiotu?</h5>
          <p>Najlepiej zgłoś się do właścicieli serwera z kodem z sms</p>
        </div>
        <div class="answer mt-4">
          <h5>2. Co zrobić by dostać rangę YouTuber?</h5>
          <p>Wrzucić reklamę na swój kanał na yt oraz posiadać 500 subskrypcji</p>
        </div>
        <div class="answer mt-4">
          <h5>3. Czy można dostać vouchery na live?</h5>
          <p>Tak, Jest to możliwe wszystko zależy od aktywności na twoim kanale</p>
        </div>
        <div class="answer mt-4">
          <h5>Tak, Jest to możliwe wszystko zależy od aktywności na twoim kanale</h5>
          <p>Jest taka możliwość wszelkie informacje o rekrutacji będą podawane na naszym FB oraz na serwerze.</p>
        </div>
        <div class="answer mt-4">
          <h5>5. Czy odzyskam itemy jeżeli padłem przez laga?</h5>
          <p>Jeżeli był to lag globalny serwera to otrzymasz swoje itemki</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bg-modal" id="RegModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalText"
     aria-hidden="true">
  <div class="modal-dialog " role="document">

    <div class="bg-modal-dialog">
      <div class="bg-modal-header text-center">
        <h5 class="modal-title" id="exampleModalText">Regulamin</h5>
      </div>
      <div class="modal-body text-center">
        <div class="answer mt-4">
          <h5>§1</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim nulla at quam convallis
            sagittis
            quis quis purus. Praesent sagittis laoreet diam, sit amet tempus neque placerat at. Sed posuere.</p>
        </div>
        <div class="answer mt-4">
          <h5>§2</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim nulla at quam convallis
            sagittis
            quis quis purus. Praesent sagittis laoreet diam, sit amet tempus neque placerat at. Sed posuere.</p>
        </div>
        <div class="answer mt-4">
          <h5>§3</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim nulla at quam convallis
            sagittis
            quis quis purus. Praesent sagittis laoreet diam, sit amet tempus neque placerat at. Sed posuere.</p>
        </div>
        <div class="answer mt-4">
          <h5>§4</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim nulla at quam convallis
            sagittis
            quis quis purus. Praesent sagittis laoreet diam, sit amet tempus neque placerat at. Sed posuere.</p>
        </div>
        <div class="answer mt-4">
          <h5>§5</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim nulla at quam convallis
            sagittis
            quis quis purus. Praesent sagittis laoreet diam, sit amet tempus neque placerat at. Sed posuere.</p>
        </div>
        <div class="answer mt-4">
          <h5>§6</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim nulla at quam convallis
            sagittis
            quis quis purus. Praesent sagittis laoreet diam, sit amet tempus neque placerat at. Sed posuere.</p>
        </div>
        <div class="answer mt-4">
          <h5>§7</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim nulla at quam convallis
            sagittis
            quis quis purus. Praesent sagittis laoreet diam, sit amet tempus neque placerat at. Sed posuere.</p>
        </div>
        <div class="answer mt-4">
          <h5>§8</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim nulla at quam convallis
            sagittis
            quis quis purus. Praesent sagittis laoreet diam, sit amet tempus neque placerat at. Sed posuere.</p>
        </div>
        <div class="answer mt-4">
          <h5>§9</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim nulla at quam convallis
            sagittis
            quis quis purus. Praesent sagittis laoreet diam, sit amet tempus neque placerat at. Sed posuere.</p>
        </div>
        <div class="answer mt-4">
          <h5>§10</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim nulla at quam convallis
            sagittis
            quis quis purus. Praesent sagittis laoreet diam, sit amet tempus neque placerat at. Sed posuere.</p>
        </div>

      </div>
    </div>
  </div>
</div>