<div class="jumbotron jumbotron-fluid bg-brown jumbo txt">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 text-center">
          <span class="icon">
            <i class="fas fa-rocket"></i>
          </span>
        <h4 class="pb-3 ">BLAZING FAST</h4>

        <p>Posiadamy bardzo niski ping, aby być coraz bliżej Ciebie!</p>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
            <span class="icon">
                    <i class="fas fa-sitemap"></i>
                  </span>
        <h4 class="pb-3">RIGHT DIRECTION</h4>
        <p>Posiadamy indywidualne rozwiązania, co przekłada się na gwarantowany wysoki poziom rozgrywki.</p>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
            <span class="icon">
                  <i class="fas fa-database"></i>
                </span>
        <h4 class="pb-3">TOP NOTCH</h4>

        <p>Wszystkie Twoje dane są bezpieczne dzięki korzystaniu z szyfrowania SHA-256 oraz dodatkowym salt'em. </p>
      </div>
      <div class="col-lg-3 col-sm-6 text-center">
            <span class="icon">
              <i class="far fa-check-circle"></i>
            </span>
        <h4 class="pb-3">QUALITY EVENTS</h4>

        <p>Naszą specjalnością jest umilanie płynącego na naszym serwerze czasu graczom oferując codzienne
          eventy.</p>
      </div>
    </div>
  </div>
</div>