<div class="jumbotron jumbotron-fluid bg-brown-2">
  <div class="text-center text-white">
    <h3 class="pt-2 pink-text">ADMINISTRACJA SERWERA</h3>
    <p class="pt-2 pb-5 brown-text">
      Osoby odpowiedzialne ze utrzymanie porzadku, naprawe bugow serwera. <br/>Organizowanie eventow, umilenie gry innym
      gracza
    </p>
  </div>
  <div class="row">
    {% for admin in admins %}
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center bg-brown">
          {% if admin.user.uuid %}
            <img class='box' src='https://crafatar.com/renders/head/{{ admin.user.uuid }}?scale=6&overlay'/>
          {% else %}
            <img src="https://crafatar.com/renders/head/606e2ff0-ed77-4842-9d6c-e1d3321c7838?helm&scale=3&overlay?scale=8&overlay">
          {% endif %}

          <div class="title">
            <h4>{{ admin.user.username }}</h4>
            <small>{% if admin.special %}{{ admin.special }}{% else %}{{ admin.user.profile.rank }}{% endif %}</small>
          </div>

          <div class="text">
            <span>{{ admin.desc }}</span>
          </div>
        </div>
      </div>
    {% endfor %}


  </div>
</div>