{% extends 'layout.html' %}
{% block text_hero %}
    {% include 'hero_text.html' %}
  {% endblock %}
{% block content %}
<div class="row jumbotron jumbotron-fluid bg-brown-2">
  <div class="col-lg-12 text-center">
    <h1>Ranking</h1>
    <p>Ranking najlepszych graczy na serwerze!</p>
  </div>
  {% include 'horizon/assets/StoneRanking.html' %}
  {% include 'horizon/assets/PvPRanking.html' %}
  {% include 'horizon/ranking/earnStone.html' %}
  {% include 'horizon/ranking/skyCoins.html' %}
  {% include 'horizon/ranking/joinCount.html' %}
  {% include 'horizon/ranking/killsRanking.html' %}


</div>
{% endblock %}