<div class="jumbotron jumbotron-fluid bg-brown-2">
    <div class="text-center text-white">
        <h3 class="pt-2 pink-text">REGULAMIN SERWERA</h3>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-lg-12 text-center">
                <div class="answer mt-4">
                    <h5>§1</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim nulla at quam convallis
                        sagittis
                        quis quis purus. Praesent sagittis laoreet diam, sit amet tempus neque placerat at. Sed
                        posuere.</p>
                </div>
            </div>

            <div class="col-lg-12 text-center">
                <div class="answer mt-4">
                    <h5>§2</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim nulla at quam convallis
                        sagittis
                        quis quis purus. Praesent sagittis laoreet diam, sit amet tempus neque placerat at. Sed
                        posuere.</p>
                </div>
            </div>

            <div class="col-lg-12 text-center">
                <div class="answer mt-4">
                    <h5>§3</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim nulla at quam convallis
                        sagittis
                        quis quis purus. Praesent sagittis laoreet diam, sit amet tempus neque placerat at. Sed
                        posuere.</p>
                </div>
            </div>

            <div class="col-lg-12 text-center">
                <div class="answer mt-4">
                    <h5>§4</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim nulla at quam convallis
                        sagittis
                        quis quis purus. Praesent sagittis laoreet diam, sit amet tempus neque placerat at. Sed
                        posuere.</p>
                </div>
            </div>

            <div class="col-lg-12 text-center">
                <div class="answer mt-4">
                    <h5>§5</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim nulla at quam convallis
                        sagittis
                        quis quis purus. Praesent sagittis laoreet diam, sit amet tempus neque placerat at. Sed
                        posuere.</p>
                </div>
            </div>

            <div class="col-lg-12 text-center">
                <div class="answer mt-4">
                    <h5>§6</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim nulla at quam convallis
                        sagittis
                        quis quis purus. Praesent sagittis laoreet diam, sit amet tempus neque placerat at. Sed
                        posuere.</p>
                </div>
            </div>

            <div class="col-lg-12 text-center">
                <div class="answer mt-4">
                    <h5>§7</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim nulla at quam convallis
                        sagittis
                        quis quis purus. Praesent sagittis laoreet diam, sit amet tempus neque placerat at. Sed
                        posuere.</p>
                </div>
            </div>

            <div class="col-lg-12 text-center">
                <div class="answer mt-4">
                    <h5>§8</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim nulla at quam convallis
                        sagittis
                        quis quis purus. Praesent sagittis laoreet diam, sit amet tempus neque placerat at. Sed
                        posuere.</p>
                </div>
            </div>

            <div class="col-lg-12 text-center">
                <div class="answer mt-4">
                    <h5>§9</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim nulla at quam convallis
                        sagittis
                        quis quis purus. Praesent sagittis laoreet diam, sit amet tempus neque placerat at. Sed
                        posuere.</p>
                </div>
            </div>

            <div class="col-lg-12 text-center">
                <div class="answer mt-4">
                    <h5>§10 Informacje o firmie </h5>
                    <p>Niniejszy regulamin zawiera zakres oraz warunki usług zapewnianych przez firmę Mateusz Suchodolski, NIP: 8451993266.</p>
                </div>
            </div>
        </div>
    </div>
</div>